{#{{ dump(_context|keys) }}#}
<div class="container field--name-{{field_name}}">
    <div class="slides">
{#<div class="image-slide" style="visibility: hidden;">#}
        {% for item in items %}
            {{ item.content }}
        {% endfor %}
    {#<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>#}
    {#<a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>#}
{#</div>#}
    </div>
</div>